.text-panel{
  padding:20px;
  font-size:18px;
  text-align:center;
}

.text-panel a{
  white-space:nowrap;
}

text-panel p{
  margin:0px
}

.text-panel a{
  color:#00808c;
  font-weight:bold;
}

@media (max-width: 900px) {
  .text-panel{
    font-size:16px;
  }
}
