main > .section > div.banner-wrapper{
  padding:0px;
}

.banner>div{
  white-space:nowrap;
  overflow:hidden;
  background:#f5f5f5;
}

.banner>div>div{
  display:inline-block;
  width:100%;
  padding:10px 0px;
  text-align:center;
}

.banner p{
  font-size:14px;
  margin:0px;
}
