.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 64px 24px;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 45%);
  z-index: -1;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

.hero picture {
  position: absolute;
  z-index: -2;
  inset: 0;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 900px) {
  .hero {
    min-height: 650px;
    padding: 80px 32px;
  }
}
